#fundraising-page-details {
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    overflow: auto;
}

#fundraising-page-details h2 {
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 12px;
    border-bottom: 3px solid crimson;
}

.panel1 {
    -ms-flex: 0 0 70%;
    -ms-flex-order: 0;
    overflow: auto;
}

.panel2 {
    -ms-flex: 5 1 auto;
    display: -ms-grid;
    -ms-grid-rows: 33px 60px auto;
    -ms-grid-columns: 1fr;
    padding: 0 5px;
}

.panel1 .mycharity {
    display: -ms-grid;
    -ms-grid-rows: 2fr;
    -ms-grid-columns: 1fr;
    width: 100%;
}

@media screen and (-ms-view-state: snapped) {
    .panel1 {
        display: none;
    }
}

.panel1 .mystory{
    height: 400px;
    overflow: auto;
}

.panel1 .mymedia{
}

#gallery-listview {
    width: auto;
    height: 120px;
}

.imageGallery {
    display: -ms-grid;
    -ms-grid-rows: 100px;
    -ms-grid-columns: 100px;
}

.imageGallery img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.imageGallery .image-caption {
    -ms-grid-row-align: end;
    font-size: 75%;
    background-color: rgba(0,0,0,0.65);
    height: 25px;
    overflow: hidden;
    padding: 0px 5px 0px 5px;
}

.panel2 #donations-pager {
    -ms-grid-row: 2;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
}

.panel2 #donations-pager #current-page{
    -ms-flex-order: 1;
    text-align: justify;
}

.story {
    -ms-grid-row: 2; 
    columns: 3; 
    column-rule-style: dotted; 
    column-rule-color: gray; 
    column-rule-width: 1px;
    text-align: justify;    
}

.templateItem .panel2 #donations-pager .prev-page {
    color: crimson;
    -ms-flex-order: 0;
}

.panel2 #donations-pager .next-page {
    -ms-flex-order: 2;
    font-size: 14pt;
    color: crimson;
}

.panel2 #donations-listview {
    -ms-grid-row: 3;
}

#donations-listview {
    height: 600px;
}

.panel2 .donationItem {
    display: -ms-grid;
    -ms-grid-columns: 60px 1fr 60px;
    -ms-grid-rows: 1fr;
    padding: 5px 0px;
}

.panel2 .donationItem .avatar {
    -ms-grid-column: 1;
    padding: 5px;
}

.panel2 .donationItem .avatar img {
    background-color: maroon;
    width: 50px;
    height: 50px;
}

.panel2 .donationItem .details {
    -ms-grid-column: 2;
    padding-left: 5px;
}

.panel2 .donationItem .details .donatedBy {
    font-size: 75%;
    padding-top: 20px;
}


.panel2 .donationItem .amount {
    text-align: right; 
    -ms-grid-column: 3;
}