.templateItem {
    display: -ms-grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 1fr;
}

.templateItem h2 {
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 12px;
    border-bottom: 3px solid crimson;
}

.templateItem .panel1 {
    -ms-grid-column: 1;
    display: -ms-grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr;
    padding: 0px 5px;
}

.templateItem .panel2 {
    -ms-grid-column: 2;
    height: auto; 
    display: -ms-grid;
    -ms-grid-rows: 33px 60px auto;
    -ms-grid-columns: 1fr;
    padding: 0px 5px;
}

.templateItem .panel1 .mycharity {
    -ms-grid-row: 1;
    display: -ms-grid;
    -ms-grid-rows: 2fr;
    -ms-grid-columns: 1fr;
    width: 100%;
}

.templateItem .panel1 .mystory{
    -ms-grid-row: 2;
    display: -ms-grid;
    -ms-grid-rows: 1fr 200px;
    -ms-grid-columns: auto;
    width: 100%;
}

.templateItem .panel1 .mymedia{
    -ms-grid-row: 3;
}

#gallery-listview {
    width: auto;
    height: 120px;
}

.imageGallery {
    display: -ms-grid;
    -ms-grid-rows: 100px;
    -ms-grid-columns: 100px;
}

.imageGallery img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.imageGallery .image-caption {
    -ms-grid-row-align: end;
    font-size: 75%;
    background-color: rgba(0,0,0,0.65);
    height: 25px;
    overflow: hidden;
    padding: 0px 5px 0px 5px;
}
.templateItem .panel2 #donations-pager {
    -ms-grid-row: 2;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
}

.templateItem .panel2 #donations-pager #current-page{
    -ms-grid-column: 2;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
}

.templateItem .panel2 #donations-pager .prev-page {
    -ms-grid-column: 1;
}

.templateItem .panel2 #donations-pager .next-page {
    -ms-grid-column: 3;
    -ms-grid-column-align: end;
    -ms-grid-row-align: center;
    font-size: 14pt;
}

.templateItem .panel2 #donations-listview {
    -ms-grid-row: 3;
}

#donations-listview {
    height: 600px;
}

.templateItem .panel2 .donationItem {
    display: -ms-grid;
    -ms-grid-columns: 60px 1fr 60px;
    -ms-grid-rows: 1fr;
    padding: 5px 0px;
}

.templateItem .panel2 .donationItem .avatar {
    -ms-grid-column: 1;
    padding: 5px;
}

.templateItem .panel2 .donationItem .avatar img {
    background-color: maroon;
    width: 50px;
    height: 50px;
}

.templateItem .panel2 .donationItem .details {
    -ms-grid-column: 2;
    padding-left: 5px;
}

.templateItem .panel2 .donationItem .details .donatedBy {
    font-size: 75%;
    padding-top: 20px;
}


.templateItem .panel2 .donationItem .amount {
    text-align: right; 
    -ms-grid-column: 3;
}