#pageTilesSection {
    width: 100vw;
    height: 100vh;
}

.page {
    background-color: #fff;
    width: 350px;
    display: -ms-grid;
    overflow: hidden;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: minmax(200, max-content) 50px;
    transition: all 0.5s;
}

.page .page-logo {
    -ms-grid-row: 1;
    display: -ms-grid;
    -ms-grid-columns: 160px auto;
    -ms-grid-rows: 1;
    height: 160px;
}

.page-logo img {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.page-logo .title {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    padding: 15px;
    color: #000;
}

.page .page-overlay {
    -ms-grid-row: 2;
    -ms-grid-row-align: end;
    background-color: rgba(0,0,0,0.65);
    overflow: hidden;
    padding: 0 10px 0 10px;
    color: rgb(255,255,255);
}

.page-overlay h2{
    display: none;
}

@media screen and (-ms-view-state: snapped) {
    #pageTilesSection {
        width: 90vw;
    }

    #fundraising-page-listview {
        margin-top: 0;
        margin-bottom: 30px;
        border: 1px solid purple;
        height: 100vh;
    }

    .page {
        width: 80%;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: minmax(200, max-content) auto;
    }

    .page-logo {
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto; 
    }

    .page-logo img {
        -ms-grid-row: 1;
    }

    .page-logo .title {
        display: none;
    }

    .page-overlay h2 {
        display: block;
    }

}