#pageTilesSection {
    width: 100%;
    height: 100%;
}

.fundraising-page-listview {
}

.page {
    height: 250px;
    width: 150px;
    display: -ms-grid;
    overflow: hidden;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: minmax(200, max-content) 50px;
}

.page .page-logo {
    -ms-grid-row: 1;
}

.page .page-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page .page-overlay {
    -ms-grid-row: 2;
    -ms-grid-row-align: end;
    background-color: rgba(0,0,0,0.65);
    height: 50px;
    overflow: hidden;
    padding: 0px 10px 0px 10px;
}

.page .page-overlay .page-title {
    margin-top: 5px;
    color: rgb(255,255,255);
    height: 20px;
}

.page .page-overlay .page-owner {
    margin-top: 5px;
    height: 20px;
    color: rgba(255,255,255,0.49);
}

@media screen and (-ms-view-state: snapped) {
    #pageTilesSection {
       width: 300px;
    }

   .fundraising-page-listview {
       width: 280px;
    }

    .page {
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr;
        height: 200px;
        width: 200px;
    }
}